* {
    box-sizing: border-box;
  }
body 
{
    font-family: Arial;
    margin: 0;
  }
.header 
{
    padding: 60px;
    text-align: center;
    background: #5a748d;
    color: white;
  }  
nav
{
    display: flex;
    background-color:transparent;
  } 
nav a
 {
    color: black;
    padding: 20px 100px;
    text-decoration: none;
    text-align: center;
    
    
  }  
nav a:hover 
{
  background-color:#5a748d;
    color: white;
  }
.row 
{  
    display: flex;
    flex-wrap: wrap;
  }
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
 
.footer {
    padding: 20px;
    width: 100%;
    text-align: justify;
    background: #ddd;
  }

  .card
  {
    float: left;
    margin: 10px;
    border-radius: 2%;
  }
 .card:hover
 {
   background-color: #5a748d;
 }
 

